:root {
    --primary-color: #fec7d7;
    --secondary-color: #a786df;
    --tertiary-color: #d9d4e7;
    --green: #85d1ce;
    --blue: #91c1d7;
    --green: #85d1ce;
    --white: #fffffe;
    --black: #0e172c;
}

body {
    background-color: var(--primary-color);
    font-family: "Nunito", sans-serif;
}

.navbar {
    padding: 16px 24px;
}

#logo-navbar {
    width: 4em;
}

.nav-logo-container {
    display: none;
}

.main-nav-container {
    justify-content: center !important;
    padding: 0;
}

.main-nav-container .main-nav-list {
    justify-content: space-evenly;
}

.main-nav-list {
    flex-wrap: nowrap;
}
.main-nav-list a span {
    display: none;
    color: var(--green);
    font-size: 0.875rem;
}

.main-nav-list a i {
    color: #000000;
}

.navbar-active-item {
    background-color: var(--black);
    border-radius: 80px;
}
.navbar-active-item a span {
    display: inline;
}
.navbar-active-item a i {
    color: var(--blue);
}

main{
    padding: 0 24px;
}

.adopting-text, #favorites-main h1, #messages-main h1{
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 33px;
    margin: 48px 0 32px;
}

#index-main h1{
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 25px;
}

.categories-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 16px;
    padding: 0;
    max-width: 600px;
    margin: 0 auto 24px;
}

.categories-container h2{
    font-size: 1rem;
    font-weight: 700;
    color: var(--white);
}

.categories-container li{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    border-radius: 8px;
    background-color: var(--black);
    cursor: pointer;
}

.categories-container li:hover{
    transform: translateY(-3px);
    transition: all 0.7s;
}

#dogs-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--green);
    border-radius: 50%;
    width: 64px;
    height: 64px;
    margin: 8px 0;
}

#cats-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
    border-radius: 50%;
    width: 64px;
    height: 64px;
    margin: 8px 0;
}

.categories-container li img{
    width: 40px;
}

.inactive-categorie{
    opacity: 0.5;
}

.pets-cards-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    max-width: 1000px;
    margin: 0 auto 96px;
}

.img-card-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
}

.img-card-container img{
    border-radius: 16px;
    grid-area: 1/1/4/2;
}

.gradient{
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 26.42%, #000000 99.33%);
    grid-area: 1/1/4/2;
}

.cards-text-container{
    font-size: 0.875rem;
    color: var(--white);
    margin: 0 16px 16px 16px;
    grid-area: 3/1/4/2;
    align-self: end;
}

.cards-text-container h3{
    font-size: 0.875rem;
    font-weight: 700;
    margin-bottom: 0;
}

.cards-text-container p{
    margin-bottom: 0;
}

.img-card-container:nth-child(odd){
    margin-bottom: 24px;
}

.img-card-container:nth-child(even){
    margin-top: 24px;
}

.message-container{
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
    margin-bottom: 24px;
    border-radius: 8px;
    align-items: center;
    max-width: 500px;
    margin: auto;
}

.main-messages-container a{
    text-decoration: none;
    color: var(--black);
}

.message-container img{
    margin: 8px;
}

.message-info-text div{
    display: flex;
    justify-content: space-between;
}

.message-info-text h2, .img-chat-container h1{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0;
}

.message-info-text span{
    font-size: 0.688rem;
}

.message-info-text p{
    font-size: 0.875rem;
    margin-bottom: 0;
    line-height: 19px;
}

#vector{
    width: 6px;
    height: 12px;
    margin: 34px 17px;
}

.profile-img{
    border: 3px solid #85D1CE;
    box-sizing: border-box;
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.profile-img-container{
    background-color: var(--white);
    margin-bottom: 24px;
}

.back-btn{
    margin: 24px;
    position: absolute;
}

.img-chat-container{
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat-container{
   padding: 0 24px ;
    max-width: 600px;
    margin: 0 auto;
}

.chat-container div span{
    display: block;
    text-align: center;
    font-size: 0.875rem;
}
.message{
    display: flex;
    flex-direction: column;
}
.message p{
    padding: 16px;
    border-radius: 16px;
    max-width: 80%;
    font-size: 0.875rem;
    line-height: 19px;
    margin-bottom: 24px;
}

.sent-message p{
    background-color: var(--white);
    color: var(--black);
    opacity: 0.8;
    align-self: flex-end;
}

.received-message p{
    background-color: var(--black);
    color: var(--white);
    opacity: 0.8;
}

.input-container{
    padding: 8px;
    max-width: 768px;
    margin: 0 auto;
}

#send-input{
    width: 100%;
    padding: 12px 16px;
    border: 1px solid #535353;
    box-sizing: border-box;
    border-radius: 4px;
}

@media (min-width: 768px) {
    .nav-logo-container {
        display: inline;
    }

    .main-nav-container .main-nav-list {
        padding: 0 10em;
    }

    #index-main, #favorites-main, #messages-main h1{ 
        text-align: center;
    }
    .categories-container li{
        justify-content: flex-start;
        padding: 0 30px;
    }
    .categories-container h2{
        padding-left: 20px;
    }
    .pets-cards-container{
        grid-template-columns: repeat(4,1fr);
    }
}
